<div class="py-5 text-xs">
  <div>JeopardAI</div>
  <div>Created by Marek Pankowski &copy; <%= Date.today.year %></div>
  <div class="pt-3">
    <a href="https://mkpanq.com">mkpanq.com</a>
    <a href="https://x.com/mkpanq">Twitter</a>
    <a href="https://github.com/mkpanq">Github</a>
    <a href="https://bento.me/mkpanq">Bento</a>
    <a href="https://ko-fi.com/mkpanq">Ko-Fi</a>
  </div>
</div>
