<footer class="flex flex-col space-y-2.5 text-gray-500 mx-auto mb-10">
  <div class="flex flex-col justify-center space-y-2">
    <div class="text-center md:pr-4">Created by Marek Pankowski &copy; <%= Date.today.year %></div>
    <div class="flex flex-row justify-center space-x-2">
      <a href="https://mkpanq.com">mkpanq.com</a>
      <a href="https://x.com/mkpanq">Twitter</a>
      <a href="https://github.com/mkpanq">Github</a>
      <a href="https://bento.me/mkpanq">Bento</a>
      <a href="https://ko-fi.com/mkpanq">Ko-Fi</a>
    </div>
  </div>
</footer>
